
html {
    font-size: 10px; 
}

h1 {
    font-size: 10rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 3px 0 #ffa12c; /* Borders title Text */
}

p {
    font-size: 4rem;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: beige;
}

/* Halloween */

.halloween_keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.hallo_key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    padding: 1rem .5rem;
    transition: all 2.5s ease;
    width: 12rem;
    text-align: center;
    color: #ff872C;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem #ffa12c;
}

.hallo_playing {
    transform: scale(1.1);
    border-color: #fe612C;
    box-shadow: 0 0 1rem #ffa12c;
}

kbd {
    display: block;
    font-size: 4rem;
}

.hallo_sound_text {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #fe612C;
}

/* Christmas */

.christmas_keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.xmas_key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    padding: 1rem .5rem;
    transition: all 2.5s ease;
    width: 12rem;
    text-align: center;
    color: #46ba46;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem #ff3e2c;
}

.xmas_playing {
    transform: scale(1.1);
    border-color: #46ba46;
    box-shadow: 0 0 1rem #7fe07f;
}

kbd {
    display: block;
    font-size: 4rem;
}

.xmas_sound_text {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #46ba46;
}

.xmas_title_keys {
    color: #46ba46;
}

/* Kids */

.kids_sound_keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.kids_key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    padding: 1rem .5rem;
    transition: all 2.5s ease;
    width: 12rem;
    text-align: center;
    color: yellow;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem gold;
}

.kids_playing {
    transform: scale(1.1);
    border-color: rgb(51, 122, 235);
    box-shadow: 0 0 1rem rgb(115, 161, 233);
}

kbd {
    display: block;
    font-size: 4rem;
}

.kids_sound_text {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: yellow;
}


/*Navigation */  

.page-header {
	display: flex;
	width: 100%;
	padding: 20px;
}
.page-header__item {
	flex: 0 1 200px;
}
.page-header__item:last-child {
	flex-grow: 1;
	text-align: right;
}
.navigation-list {
	list-style-type: none;
}

.navigation-list li {
	display: inline-block;
	margin-left: 15px;
}
.navigation-list__item--active {
	text-decoration: none;
}	

.navigation-list__item_home {
	text-decoration: none;
}
.navigation-list__item_home--active {
	text-decoration: none;
}